@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }
  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }
  .menu {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .header__date {
    font-size: 60px;
  }
}

@media (max-width: 1360px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    text-align: left;
    display: flex;
    padding-right: 25px;
    background-color: rgba(#fff, 0.1);
  }
  .header__date {
    padding: 8px;
    padding-left: 15px;
    padding-right: 30px;
    text-align: center;
  }
  .header__location {
    margin-top: 35px;
  }
  .menu {
    margin-top: 0;
  }
  .menu__list {
    text-align: center;
    padding-left: 15px;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .slider-item__info-title {
    font-size: 60px;
  }
  .header__map {
    svg {
      height: 250px;
      width: 500px;
    }
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
    &__left {
      right: 60px;
    }
  }
  .slider-arrows-left {
    right: 60px;
  }
  .header__arrows {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1040px) {
  .holder-slider__info {
    display: block;
    &-subtitle {
      position: static;
      transform: rotate(0deg);
      height: auto;
      width: auto;
      text-align: left;
    }
    &-item {
      margin-bottom: 20px;
      min-height: auto;
      padding-left: 20px;
    }
    &-title {
      padding-left: 0;
    }
  }
  .holder-slider__descr {
    padding-left: 5px;
  }
  .holder {
    padding-top: 0;
  }
  .menu-btn {
    display: block;
  }
  .header__arrows {
    display: none;
  }
  .menu__list {
    padding-top: 21px;
    margin-bottom: -3px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.7s;
    &.active {
      transform: translateX(0);
    }
  }

  .slider-item__info {
    position: absolute;
    text-align: right;
    bottom: 50px;
    right: 20px;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slick-slide img {
    display: none;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  .slider-item__info {
    bottom: 100px;
  }
  .slider-dotshead {
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 130px;
  }
  .slider-dotshead {
    left: 20px;
  }
}

@media (max-width: 960px) {
  .slider-dotshead {
    display: none;
  }
  .header__location {
    margin-top: 45px;
  }
  .header__date {
    padding-left: 51px;
  }
  .surf-box__inner {
    min-height: 650px;
  }
  .holder,
  .holder-slider__descr {
    background-image: none;
  }
}

@media (max-width: 800px) {
  .slider-map {
    background-image: none;
    min-height: 0;
    .slick-list {
      min-height: 0;
    }
  }
  .slider-dots__circle {
    display: none;
  }
  .surf {
    padding: 60px 0 20px;
  }
}

@media (max-width: 600px) {
  .title {
    display: none;
  }
  .headline-left {
    white-space: nowrap;
  }
  .surf-slider .slider-arrows {
    top: 25px;
  }
  .holder-slider__btn {
    margin-top: 60px;
  }
  .holder {
    padding-bottom: 65px;
  }
}
