@import "libs";
@import "vars";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
  &__slider {
    &-item {
      height: 100vh;
      background-image: url("/img/header-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  }
  &__title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    color: #fff;
    max-width: 467px;
    font-family: "Fira Sans";
    font-size: 200px;
    font-weight: 800;
    line-height: 156px;
    text-transform: uppercase;
    opacity: 0.07;
  }
  &__aside {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    color: #fff;
    border: 1px solid #ffffff25;
    height: 100vh;
    text-align: center;
  }
  &__date {
    font-size: 72px;
    font-weight: 800;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 15px;
    span {
      display: block;
      font-weight: 300;
      line-height: 19px;
      font-size: 16px;
      letter-spacing: 1.4px;
    }
  }
}

.menu {
  margin-top: 20px;
  span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 3px;
    padding-top: 6px;
    margin-bottom: 25px;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  &-subtitle {
    margin-bottom: 5px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
  &-title {
    font-size: 80px;
    font-weight: 800;
    line-height: 86px;
    margin-bottom: 48px;
  }
  &-text {
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;
    margin-bottom: 20px;
  }
}

.slider-arrows {
  z-index: 2;
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  &-left {
    z-index: 2;
    right: 125px;
  }
}

.slider-dotshead {
  position: absolute;
  bottom: 40px;
  right: 80px;
  max-width: 920px;
  width: 100%;
  color: white;
}

.dots-box {
  border-top: 4px solid #fff;
  padding-top: 10px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__number {
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    text-transform: uppercase;
  }
  &__name {
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.slick-current .dots-box {
  border-top-color: $green;
}

.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__arrows {
  position: absolute;
  bottom: 20px;
  left: 210px;
  z-index: 3;
}

.animation-line {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 120px;
  background-image: url("/img/surf-bg.png");
  background-repeat: no-repeat;
  background-position: right 200px;
}

.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 82px;
    }
  }
  .slick-current {
    .surf-box__inner {
      background: rgba($color: #1c2121, $alpha: 0.3);
    }
    .surf-box__inner-btn {
      display: block;
    }
  }
}

.surf-subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
  position: relative;
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 750px;
    background: rgba($color: #1c2121, $alpha: 0.85);
    position: relative;
    transition: 0.7s;
    &:hover {
      background: rgba($color: #1c2121, $alpha: 0.3);
      .surf-box__inner-btn {
        display: block;
      }
    }
    &-title {
      font-size: 40px;
      font-weight: 800;
      line-height: 36px;
      text-transform: uppercase;
      padding: 72px 0 0 40px;
      width: 140px;
    }
    &-location {
      position: absolute;
      bottom: 80px;
      left: 40px;
      width: 0;
      height: 0;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      text-transform: uppercase;
      transform: rotate(-90deg);
      white-space: nowrap;
      span {
        font-weight: 100;
      }
    }
    &-btn {
      position: absolute;
      bottom: 0;
      text-align: center;
      left: 0;
      right: 0;
      display: none;
    }
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url("/img/world-map-dots.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  .slick-list {
    min-height: 635px;
  }
}

.slider-dots {
  position: relative;
  &__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
  }
  &__content {
    display: none;
  }
  &--1 {
    top: 335px;
    left: 0;
  }
  &--2 {
    top: 267px;
    left: 0;
  }
  &--3 {
    top: 345px;
    left: 25px;
  }
  &--4 {
    top: 470px;
    left: -25px;
  }
  &--5 {
    top: 230px;
    left: -65px;
  }
  &--6 {
    top: 550px;
    left: -120px;
  }
  &--7 {
    top: 375px;
    left: -95px;
  }
  &--8 {
    top: 470px;
    left: 20px;
  }
}

@import "media";
