@import "libs";
@import "vars";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
  &__slider {
    &-item {
      height: 100vh;
      background-image: url("/img/header-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  }
  &__title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    color: #fff;
    max-width: 467px;
    font-family: "Fira Sans";
    font-size: 200px;
    font-weight: 800;
    line-height: 156px;
    text-transform: uppercase;
    opacity: 0.07;
  }
  &__aside {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    color: #fff;
    border: 1px solid #ffffff25;
    height: 100vh;
    text-align: center;
  }
  &__date {
    font-size: 72px;
    font-weight: 800;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 15px;
    span {
      display: block;
      font-weight: 300;
      line-height: 19px;
      font-size: 16px;
      letter-spacing: 1.4px;
    }
  }
}

.menu {
  margin-top: 20px;
  span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 3px;
    padding-top: 6px;
    margin-bottom: 25px;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  &-subtitle {
    margin-bottom: 5px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
  &-title {
    font-size: 80px;
    font-weight: 800;
    line-height: 86px;
    margin-bottom: 48px;
  }
  &-text {
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;
    margin-bottom: 20px;
  }
}

.slider-arrows {
  z-index: 2;
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  &-left {
    z-index: 2;
    right: 125px;
  }
}

.slider-dots {
  position: absolute;
  bottom: 40px;
  right: 80px;
  max-width: 920px;
  width: 100%;
  color: white;
}

.dots-box {
  border-top: 4px solid #fff;
  padding-top: 10px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__number {
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    text-transform: uppercase;
  }
  &__name {
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.slick-current .dots-box {
  border-top-color: $green;
}

.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__arrows {
  position: absolute;
  bottom: 20px;
  left: 210px;
  z-index: 3;
}

.animation-line {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 210px;
}

@import "media";
